<!-- about us -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <!-- about image -->
        <div class="position-relative" data-aos="fade-right" data-aos-duration="1500" data-aos-offset="700">
          <img class="img-fluid" src="images/about/about-us-2.png" alt="about image">
          <img class="img-fluid image-bg" src="images/about/about-us-2-wire.png" alt="wire" data-aos="fade-right" data-aos-delay="800" data-aos-duration="1500">
        </div>
      </div>
      <div class="col-lg-5 col-md-6">
        <span class="section-title-border"></span>
        <p class="subtitle">About Us</p>
        <h2 class="section-title">We Are Dynamic Team and Business Agency</h2>
        <p class="mb-5">Excepteur sint occaecat cupidatat non proident sunt iculpa qui officia deserunt mollit anim
          est. laborum sed perspiciatis unde omnis natus error sit voluptatem accusantium.</p>
        <a href="service.html" class="btn btn-primary hover-ripple">more service</a>
      </div>
    </div>
  </div>
</section>
<!-- /about us -->