<!-- call to action -->
<section class="section-sm bg-primary cta-sm-bg overflow-hidden">
  <div class="container position-relative zindex-1">
    <div class="row align-items-center">
      <div class="col-md-9 text-center text-md-left">
        <h3 class="text-white font-size-30 mb-md-0">Bexar <span class="font-weight-normal">give the smart solution for your business</span></h3>
      </div>
      <div class="col-md-3 text-md-right text-center">
        <a href="contact.html" class="btn btn-light hover-ripple ripple-white">Get An Quote</a>
      </div>
    </div>
  </div>
</section>
<!-- /call to action -->