<!-- customer -->
<section class="section bg-secondary position-relative">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-5 col-md-6 mb-4 mb-md-0">
        <span class="section-title-border"></span>
        <p class="subtitle text-white">Customer</p>
        <h2 class="section-title text-white">We are happy to work with them</h2>
        <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eius tempor incididunt ut labore.</p>
      </div>
      <!-- customer logo -->
      <div class="col-md-6">
        <div class="d-flex">
          <div class="flex-basis-33 clients-logo border border-muted">
            <a class="white" href="#"><img class="img-fluid" src="images/clients-logo/clients-logo-1-alt.png" alt="clients-logo"></a>
            <a class="primary" href="#"><img class="img-fluid" src="images/clients-logo/clients-logo-1.png" alt="clients-logo"></a>
          </div>
          <div class="flex-basis-33 clients-logo border border-muted">
            <a class="white" href="#"><img class="img-fluid" src="images/clients-logo/clients-logo-2-alt.png" alt="clients-logo"></a>
            <a class="primary" href="#"><img class="img-fluid" src="images/clients-logo/clients-logo-2.png" alt="clients-logo"></a>
          </div>
          <div class="flex-basis-33 clients-logo border border-muted">
            <a class="white" href="#"><img class="img-fluid" src="images/clients-logo/clients-logo-3-alt.png" alt="clients-logo"></a>
            <a class="primary" href="#"><img class="img-fluid" src="images/clients-logo/clients-logo-3.png" alt="clients-logo"></a>
          </div>
        </div>
        <div class="d-flex">
          <div class="flex-basis-33 clients-logo border border-muted">
            <a class="white" href="#"><img class="img-fluid" src="images/clients-logo/clients-logo-4-alt.png" alt="clients-logo"></a>
            <a class="primary" href="#"><img class="img-fluid" src="images/clients-logo/clients-logo-4.png" alt="clients-logo"></a>
          </div>
          <div class="flex-basis-33 clients-logo border border-muted">
            <a class="white" href="#"><img class="img-fluid" src="images/clients-logo/clients-logo-5-alt.png" alt="clients-logo"></a>
            <a class="primary" href="#"><img class="img-fluid" src="images/clients-logo/clients-logo-5.png" alt="clients-logo"></a>
          </div>
          <div class="flex-basis-33 clients-logo border border-muted">
            <a class="white" href="#"><img class="img-fluid" src="images/clients-logo/clients-logo-6-alt.png" alt="clients-logo"></a>
            <a class="primary" href="#"><img class="img-fluid" src="images/clients-logo/clients-logo-6.png" alt="clients-logo"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- background shape -->
  <img src="images/backgrounds/customer-bg.png" alt="shape" class="customer-bg-shape img-fluid">
</section>
<!-- /customer -->