<!-- feature -->
<section class="bg-gray">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-3 col-lg-6 offset-xl-2 order-lg-1 order-2 section">
        <span class="section-title-border"></span>
        <p class="subtitle">Why Choose Us</p>
        <h2 class="section-title">Why They Choose Bexar</h2>
        <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eius tempor incididunt ut
          labore.</p>
        <!-- feature item -->
        <ul class="list-unstyled">
          <li class="d-flex align-items-center mb-5">
            <div class="text-center mr-4">
              <div class="icon-bg water-wave"><i class="fa fa-snowflake-o icon text-primary"></i></div>
            </div>
            <div>
              <h4>Creative Design</h4>
              Excepteur sint occaecat cupidatat non proident sunt in culpa qui officia.
            </div>
          </li>
          <!-- feature item -->
          <li class="d-flex align-items-center mb-5">
            <div class="text-center mr-4">
              <div class="icon-bg water-wave"><i class="fa fa-code icon text-primary"></i></div>
            </div>
            <div>
              <h4>Pixel Perfect Coding</h4>
              Excepteur sint occaecat cupidatat non proident sunt in culpa qui officia.
            </div>
          </li>
        </ul>
      </div>
      <div class="col-xl-6 col-lg-6 offset-xl-1 pr-xl-0 order-lg-2 order-1 mb-5 mb-xl-0 bg-cover px-0 position-relative min-height-400" data-background="images/feature/feature-2.jpg">
        <div class="bg-primary px-5 py-4 d-inline-block play-video">
          <div class="d-flex align-items-center">
            <a href="https://youtu.be/6WZOxnYi4Cs" class="venobox play-icon mr-4 hover-ripple ripple-white" data-vbtype="video">
              <i class="fa fa-play text-white"></i>
            </a>
            <h4 class="mb-0 text-white">Watch<br>Intro Video</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /feature -->