<!-- funfacts item -->
<div class="col-lg-3 col-sm-6 mb-4 mb-lg-0">
  <div class="d-flex align-items-center">
    <i class="fa fa-bullseye icon-lg mr-3 text-primary"></i>
    <div>
      <h3 class="text-white mb-0"><span class="count" data-count="50">0</span>+</h3>
      <span class="text-white">Projects Done</span>
    </div>
  </div>
</div>
<!-- funfacts item -->
<div class="col-lg-3 col-sm-6 mb-4 mb-lg-0">
  <div class="d-flex align-items-center">
    <i class="fa fa-calendar icon-lg mr-3 text-primary"></i>
    <div>
      <h3 class="text-white mb-0"><span class="count" data-count="25">0</span>+</h3>
      <span class="text-white">Years Experience</span>
    </div>
  </div>
</div>
<!-- funfacts item -->
<div class="col-lg-3 col-sm-6 mb-4 mb-lg-0">
  <div class="d-flex align-items-center">
    <i class="fa fa-trophy icon-lg mr-3 text-primary"></i>
    <div>
      <h3 class="text-white mb-0"><span class="count" data-count="250">0</span>+</h3>
      <span class="text-white">Awards Win</span>
    </div>
  </div>
</div>
<!-- funfacts item -->
<div class="col-lg-3 col-sm-6 mb-4 mb-lg-0">
  <div class="d-flex align-items-center">
    <i class="fa fa-smile-o icon-lg mr-3 text-primary"></i>
    <div>
      <h3 class="text-white mb-0"><span class="count" data-count="500">0</span>+</h3>
      <span class="text-white">Happy Coustomers</span>
    </div>
  </div>
</div>