<!-- header -->
<header>
  <!-- top header -->
  <div class="top-header bg-secondary  py-2 pt-2 pb-1 py-2">
    <div class="container">
      <div class="row align-items-center">
        <!-- social icons -->
        <div class=" col-md-6 text-center text-md-left">
          <span class="text-white">Connect With Us:</span>
          <ul class="list-inline d-inline-block">
            <li class="list-inline-item"><a class="text-white d-inline-block p-2" href="#"><i class="fa fa-facebook"></i></a></li>
            <li class="list-inline-item"><a class="text-white d-inline-block p-2" href="#"><i class="fa fa-twitter"></i></a></li>
            <li class="list-inline-item"><a class="text-white d-inline-block p-2" href="#"><i class="fa fa-rss"></i></a></li>
            <li class="list-inline-item"><a class="text-white d-inline-block p-2" href="#"><i class="fa fa-google"></i></a></li>
            <li class="list-inline-item"><a class="text-white d-inline-block p-2" href="#"><i class="fa fa-vimeo"></i></a></li>
          </ul>
        </div>
        <!-- mail and phone -->
        <div class=" col-md-6 text-md-right text-center">
          <ul class="list-inline">
            <li class="list-inline-item mx-0 border-right border-secondary"><a class="text-white d-inline-block px-lg-3 px-2" href="mailto:info@bexar.com">info@bexar.com</a></li>
            <li class="list-inline-item mx-0"><a class="text-white d-inline-block px-lg-3 px-2" href="callto:1234565523">Call Us Now: <span class="text-primary">123 456 5523</span></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- /top header -->

  <!-- navigation -->
  <div class="navigation bg-white position-relative">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <a class="navbar-brand" href="index.html"><img class="img-fluid" src="images/logo.png" alt="Bexar"></a>
        <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navigation"
          aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse text-center pb-lg-0" id="navigation">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Home
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="index.html">Homepage 1</a>
                <a class="dropdown-item" href="homepage-2.html">Homepage 2</a>
                <a class="dropdown-item" href="homepage-3.html">Homepage 3</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                About Us
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="about.html">About Us 1</a>
                <a class="dropdown-item" href="about-2.html">About Us 2</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                blog
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="blog.html">Blog</a>
                <a class="dropdown-item" href="blog-2.html">Blog Sidebar</a>
                <a class="dropdown-item" href="blog-single.html">Blog Details</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contact.html">Contact</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Pages
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="team.html">Team</a>
                <a class="dropdown-item" href="project.html">Case Study</a>
                <a class="dropdown-item" href="project-single.html">Project Details</a>
                <a class="dropdown-item" href="service.html">Service 1</a>
                <a class="dropdown-item" href="service-2.html">Service 2</a>
                <a class="dropdown-item" href="service-single.html">Service Details</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Shortcode
              </a>
              <div class="dropdown-menu">
                  <a class="dropdown-item" href="components/buttons.html">Buttons</a>
                  <a class="dropdown-item" href="components/icons.html">Icons</a>
                  <a class="dropdown-item" href="components/typography.html">Typography</a>
                  <a class="dropdown-item" href="components/accordions.html">Accordions</a>
                  <a class="dropdown-item" href="components/blog-contents.html">Blog Contents</a>
                  <a class="dropdown-item" href="components/service-contents.html">Service Contents</a>
                  <a class="dropdown-item" href="components/team-contents.html">Team Contents</a>
              </div>
            </li>
          </ul>
          <!-- search -->
          <div class="search px-4 pb-3 pb-lg-0">
            <button id="searchOpen" class="search-btn"><i class="fa fa-search text-dark"></i></button>
            <div class="search-wrapper">
              <form action="#">
                <input class="search-box form-control" id="search" type="search" placeholder="Type & Hit Enter...">
              </form>
              <button id="searchClose" class="search-close"><i class="fa fa-close text-dark"></i></button>
            </div>
          </div>
          <!-- get start btn -->
          <a href="service.html" class="btn btn-primary hover-ripple">get started</a>
        </div>
      </nav>
    </div>
  </div>
  <!-- /navigation -->
</header>
<!-- /header -->