<!-- page title -->
<section class="section bg-cover overlay" data-background="images/backgrounds/page-title.jpg">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="text-white mb-3">@@title</h2>
        <!-- breadcrumb -->
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb bg-transparent p-0">
            <li class="breadcrumb-item font-weight-semebold"><a class="text-white" href="index.html">Home</a></li>
            <li class="breadcrumb-item font-weight-semebold active text-primary" aria-current="page">@@title</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</section>
<!-- /page title -->