<div class="row">
  <!-- mission -->
  <div class="col-md-6 col-lg-4 mb-4 mb-md-0">
    <h3><span class="text-primary">01.</span> Our Mission</h3>
    <p>Lorem ipsum dolor sit amet consectetur adip isicing elit sed do eiusmod tempor incididunt ut labore.</p>
    <ul class="list-styled style-circle">
      <li class="mb-3">Quality Services</li>
      <li class="mb-3">Clients Satisfaction</li>
    </ul>
  </div>
  <!-- spproch -->
  <div class="col-md-6 col-lg-4 mb-4 mb-md-0">
    <h3><span class="text-primary">02.</span> Our Approach</h3>
    <p>Lorem ipsum dolor sit amet consectetur adip isicing elit sed do eiusmod tempor incididunt ut labore.</p>
    <ul class="list-styled style-circle">
      <li class="mb-3">Quality Services</li>
      <li class="mb-3">Clients Satisfaction</li>
    </ul>
  </div>
  <!-- philosophy -->
  <div class="col-md-6 col-lg-4 mb-4 mb-md-0">
    <h3><span class="text-primary">03.</span> Our Philosophy</h3>
    <p>Lorem ipsum dolor sit amet consectetur adip isicing elit sed do eiusmod tempor incididunt ut labore.</p>
    <ul class="list-styled style-circle">
      <li class="mb-3">Quality Services</li>
      <li class="mb-3">Clients Satisfaction</li>
    </ul>
  </div>
</div>