<div class="pricing-container">
  <div class="pricing-switcher">
    <p class="fieldset">
      <input type="radio" name="duration-1" value="monthly" id="monthly-1" checked>
      <label class="mb-0 monthly pricing-duration active" for="monthly-1">Monthly</label>
      <input type="radio" name="duration-1" value="yearly" id="yearly-1">
      <label class="mb-0 yearly pricing-duration" for="yearly-1">Yearly</label>
      <span class="switch"></span>
    </p>
  </div>
  <ul class="p-0 pricing-list bounce-invert">
    <li>
      <ul class="p-0 pricing-wrapper">
        <li data-type="monthly" class="is-visible">
          <!-- pricing table -->
          <div class="py-5 px-4 text-center border-left border-right border-color pricing-table">
            <p class="subtitle">Basic</p>
            <h2>$39.99</h2>
            <h5 class="mb-4">Best for small individuals</h5>
            <div class="border-bottom border-color mb-5"></div>
            <ul class="list-unstyled mb-5">
              <li class="mb-3">Express Service</li>
              <li class="mb-3">Customs Clearance</li>
              <li class="mb-3">Time-Critical Services</li>
            </ul>
            <a href="#" class="btn btn-light btn-light-alt hover-ripple">Select Plan</a>
          </div>
        </li>
        <li data-type="yearly" class="is-hidden">
          <!-- pricing table -->
          <div class="py-5 px-4 text-center border-left border-right border-color pricing-table">
            <p class="subtitle">Basic</p>
            <h2>$139.99</h2>
            <h5 class="mb-4">Best for small individuals</h5>
            <div class="border-bottom border-color mb-5"></div>
            <ul class="list-unstyled mb-5">
              <li class="mb-3">Express Service</li>
              <li class="mb-3">Customs Clearance</li>
              <li class="mb-3">Time-Critical Services</li>
            </ul>
            <a href="#" class="btn btn-light btn-light-alt hover-ripple">Select Plan</a>
          </div>
        </li>
      </ul>
    </li>
    <li class="exclusive">
      <ul class="p-0 pricing-wrapper">
        <li data-type="monthly" class="is-visible">
          <!-- pricing table -->
          <div class="py-5 px-4 text-center border-left border-right border-color pricing-table active">
            <p class="subtitle">Popular</p>
            <h2>$49.99</h2>
            <h5 class="mb-4">Best for small individuals</h5>
            <div class="border-bottom border-color mb-5"></div>
            <ul class="list-unstyled mb-5">
              <li class="mb-3">Express Service</li>
              <li class="mb-3">Customs Clearance</li>
              <li class="mb-3">Time-Critical Services</li>
            </ul>
            <a href="#" class="btn btn-light hover-ripple ripple-white">Select Plan</a>
          </div>
        </li>
        <li data-type="yearly" class="is-hidden">
          <!-- pricing table -->
          <div class="py-5 px-4 text-center border-left border-right border-color pricing-table active">
            <p class="subtitle">Popular</p>
            <h2>$149.99</h2>
            <h5 class="mb-4">Best for small individuals</h5>
            <div class="border-bottom border-color mb-5"></div>
            <ul class="list-unstyled mb-5">
              <li class="mb-3">Express Service</li>
              <li class="mb-3">Customs Clearance</li>
              <li class="mb-3">Time-Critical Services</li>
            </ul>
            <a href="#" class="btn btn-light hover-ripple ripple-white">Select Plan</a>
          </div>
        </li>
      </ul>
    </li>
    <li>
      <ul class="p-0 pricing-wrapper">
        <li data-type="monthly" class="is-visible">
          <!-- pricing table -->
          <div class="py-5 px-4 text-center border-left border-right border-color pricing-table">
            <p class="subtitle">Standard</p>
            <h2>$59.99</h2>
            <h5 class="mb-4">Best for small individuals</h5>
            <div class="border-bottom border-color mb-5"></div>
            <ul class="list-unstyled mb-5">
              <li class="mb-3">Express Service</li>
              <li class="mb-3">Customs Clearance</li>
              <li class="mb-3">Time-Critical Services</li>
            </ul>
            <a href="#" class="btn btn-light btn-light-alt hover-ripple">Select Plan</a>
          </div>
        </li>
        <li data-type="yearly" class="is-hidden">
          <!-- pricing table -->
          <div class="py-5 px-4 text-center border-left border-right border-color pricing-table">
            <p class="subtitle">Standard</p>
            <h2>$159.99</h2>
            <h5 class="mb-4">Best for small individuals</h5>
            <div class="border-bottom border-color mb-5"></div>
            <ul class="list-unstyled mb-5">
              <li class="mb-3">Express Service</li>
              <li class="mb-3">Customs Clearance</li>
              <li class="mb-3">Time-Critical Services</li>
            </ul>
            <a href="#" class="btn btn-light btn-light-alt hover-ripple">Select Plan</a>
          </div>
        </li>
      </ul>
    </li>
  </ul>
</div>