<!-- project-item -->
<div class="col-lg-3 col-sm-6 mb-4 mb-lg-0">
  <div class="project-item">
    <div class="position-relative mb-4 overflow-hidden">
      <img src="images/project/project-1.jpg" alt="project thumb" class="img-fluid w-100">
      <div class="hover-overlay">
        <a href="images/project/project-1.jpg" class="venobox"><i class="uni-plus"></i></a>
      </div>
    </div>
    <!-- project-info -->
    <div class="ml-4">
      <h6 class="text-primary">Business Solution</h6>
      <h4><a href="project-single.html" class="text-dark">Art Institute of Chicago</a></h4>
    </div>
  </div>
</div>
<!-- project-item -->
<div class="col-lg-3 col-sm-6 mb-4 mb-lg-0">
  <div class="project-item">
    <div class="position-relative mb-4 overflow-hidden">
      <img src="images/project/project-2.jpg" alt="project thumb" class="img-fluid w-100">
      <div class="hover-overlay">
        <a href="images/project/project-2.jpg" class="venobox"><i class="uni-plus"></i></a>
      </div>
    </div>
    <!-- project-info -->
    <div class="ml-4">
      <h6 class="text-primary">Digital Marketing</h6>
      <h4><a href="project-single.html" class="text-dark">Essential Looks Trend Report</a></h4>
    </div>
  </div>
</div>
<!-- project-item -->
<div class="col-lg-3 col-sm-6 mb-4 mb-lg-0">
  <div class="project-item">
    <div class="position-relative mb-4 overflow-hidden">
      <img src="images/project/project-3.jpg" alt="project thumb" class="img-fluid w-100">
      <div class="hover-overlay">
        <a href="images/project/project-3.jpg" class="venobox"><i class="uni-plus"></i></a>
      </div>
    </div>
    <!-- project-info -->
    <div class="ml-4">
      <h6 class="text-primary">Finacial Analytsis</h6>
      <h4><a href="project-single.html" class="text-dark">Carpe Diem Santorini</a></h4>
    </div>
  </div>
</div>
<!-- project-item -->
<div class="col-lg-3 col-sm-6 mb-4 mb-lg-0">
  <div class="project-item">
    <div class="position-relative mb-4 overflow-hidden">
      <img src="images/project/project-4.jpg" alt="project thumb" class="img-fluid w-100">
      <div class="hover-overlay">
        <a href="images/project/project-4.jpg" class="venobox"><i class="uni-plus"></i></a>
      </div>
    </div>
    <!-- project-info -->
    <div class="ml-4">
      <h6 class="text-primary">Marketing Strategy</h6>
      <h4><a href="project-single.html" class="text-dark">Celebrate with Stoli</a></h4>
    </div>
  </div>
</div>