<!-- team member -->
<div class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
  <div class="team-member text-center">
    <div class="team-member-img position-relative mb-5">
      <img class="img-fluid w-100" src="images/team/team-1.jpg" alt="team-member">
      <div class="hover-icon py-4">
        <ul class="list-inline social-icon">
          <li class="list-inline-item">
            <a href="#" class="hover-ripple ripple-white"><i class="fa fa-facebook"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="#" class="hover-ripple ripple-white"><i class="fa fa-twitter"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="#" class="hover-ripple ripple-white"><i class="fa fa-linkedin"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="#" class="hover-ripple ripple-white"><i class="fa fa-pinterest"></i></a>
          </li>
        </ul>
      </div>
    </div>
    <h4><a href="team-single.html" class="text-dark">MONICA HELLEONA</a></h4>
    <span>Designer</span>
  </div>
</div>
<!-- team member -->
<div class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
  <div class="team-member text-center">
    <div class="team-member-img position-relative mb-5">
      <img class="img-fluid w-100" src="images/team/team-2.jpg" alt="team-member">
      <div class="hover-icon py-4">
        <ul class="list-inline social-icon">
          <li class="list-inline-item">
            <a href="#" class="hover-ripple ripple-white"><i class="fa fa-facebook"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="#" class="hover-ripple ripple-white"><i class="fa fa-twitter"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="#" class="hover-ripple ripple-white"><i class="fa fa-linkedin"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="#" class="hover-ripple ripple-white"><i class="fa fa-pinterest"></i></a>
          </li>
        </ul>
      </div>
    </div>
    <h4><a href="team-single.html" class="text-dark">ALEX 
 Monatinmo</a></h4>
    <span>Project Manager</span>
  </div>
</div>
<!-- team member -->
<div class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
  <div class="team-member text-center">
    <div class="team-member-img position-relative mb-5">
      <img class="img-fluid w-100" src="images/team/team-3.jpg" alt="team-member">
      <div class="hover-icon py-4">
        <ul class="list-inline social-icon">
          <li class="list-inline-item">
            <a href="#" class="hover-ripple ripple-white"><i class="fa fa-facebook"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="#" class="hover-ripple ripple-white"><i class="fa fa-twitter"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="#" class="hover-ripple ripple-white"><i class="fa fa-linkedin"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="#" class="hover-ripple ripple-white"><i class="fa fa-pinterest"></i></a>
          </li>
        </ul>
      </div>
    </div>
    <h4><a href="team-single.html" class="text-dark">JENNIFER GARNER</a></h4>
    <span>Developer</span>
  </div>
</div>