<!-- testimonial -->
<section class="section bg-gray bg-dots">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <span class="section-title-border border-center"></span>
        <p class="subtitle">Testimonials</p>
        <h2 class="section-title">What Clients Are Say?</h2>
      </div>
      <div class="col-10 mx-auto">
        <div class="testimonial-slider">
          <!-- slider-item -->
          <div class="text-center">
            <img class="img-fluid box-shadow rounded-circle mb-5 d-inline-block" src="images/testimonial/client-1.jpg"
              alt="client">
            <div class="bg-quote text-center pt-md-4" data-dot-image="images/testimonial/client-2.jpg">
              <p class="font-italic mb-5 h5 text-dark">Lorem ipsum dolor sit amet, consectetur adipisicing elit sed
                eiusmod tempor incididunt ut labore dolore magna aliqua.enim ad minim veniam.quis nostrud exercitation
                ullamco laboris nis aliquip ex ea commodo consequat. duis aute irure dolor in reprehen.</p>
              <h4>Dominic Allen</h4>
              <span class="text-primary">Designer</span>
            </div>
          </div>
          <!-- slider-item -->
          <div class="text-center">
            <img class="img-fluid box-shadow rounded-circle mb-5 d-inline-block" src="images/testimonial/client-2.jpg"
              alt="client">
            <div class="bg-quote text-center pt-md-4" data-dot-image="images/testimonial/client-2.jpg">
              <p class="font-italic mb-5 h5 text-dark">Lorem ipsum dolor sit amet, consectetur adipisicing elit sed
                eiusmod tempor incididunt ut labore dolore magna aliqua.enim ad minim veniam.quis nostrud exercitation
                ullamco laboris nis aliquip ex ea commodo consequat. duis aute irure dolor in reprehen.</p>
              <h4>Alex Pitt</h4>
              <span class="text-primary">Designer</span>
            </div>
          </div>
          <!-- slider-item -->
          <div class="text-center">
            <img class="img-fluid box-shadow rounded-circle mb-5 d-inline-block" src="images/testimonial/client-3.jpg"
              alt="client">
            <div class="bg-quote text-center pt-md-4" data-dot-image="images/testimonial/client-2.jpg">
              <p class="font-italic mb-5 h5 text-dark">Lorem ipsum dolor sit amet, consectetur adipisicing elit sed
                eiusmod tempor incididunt ut labore dolore magna aliqua.enim ad minim veniam.quis nostrud exercitation
                ullamco laboris nis aliquip ex ea commodo consequat. duis aute irure dolor in reprehen.</p>
              <h4>KOBERT WONKOMOLI</h4>
              <span class="text-primary">Designer</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /testimonial -->