<!-- testimonial -->
<section class="section overlay-secondary bg-cover" data-background="images/backgrounds/testimonial-bg.jpg">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <span class="section-title-border border-center"></span>
        <p class="subtitle text-white">Testimonials</p>
        <h2 class="section-title text-white">What Clients Are Say?</h2>
      </div>
    </div>
    <!-- testimonial slider -->
    <div class="row">
      <div class="col-md-10 mx-auto">
        <div class="testimonial-slider-2">
          <!-- testimonial slider item -->
          <div class="bg-quote text-center" data-dot-image="images/testimonial/client-1.jpg">
            <p class="font-italic mb-5 text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis recusandae harum, omnis explicabo deleniti expedita beatae, cum nulla tenetur ipsum velit magnam, libero in nihil assumenda! Possimus, sint sed eligendi culpa provident repellat veniam reiciendis nobis ducimus facilis veritatis cumque voluptatem. Praesentium, laborum quod at cum obcaecati voluptatum voluptatibus! Deserunt?</p>
            <h4 class="text-white">Dominic Allen</h4>
            <span class="text-white">Designer</span>
          </div>
          <!-- testimonial slider item -->
          <div class="bg-quote text-center" data-dot-image="images/testimonial/client-2.jpg">
            <p class="font-italic mb-5 text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis recusandae harum, omnis explicabo deleniti expedita beatae, cum nulla tenetur ipsum velit magnam, libero in nihil assumenda! Possimus, sint sed eligendi culpa provident repellat veniam reiciendis nobis ducimus facilis veritatis cumque voluptatem. Praesentium, laborum quod at cum obcaecati voluptatum voluptatibus! Deserunt?</p>
            <h4 class="text-white">Dominic Allen</h4>
            <span class="text-white">Designer</span>
          </div>
          <!-- testimonial slider item -->
          <div class="bg-quote text-center" data-dot-image="images/testimonial/client-3.jpg">
            <p class="font-italic mb-5 text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis recusandae harum, omnis explicabo deleniti expedita beatae, cum nulla tenetur ipsum velit magnam, libero in nihil assumenda! Possimus, sint sed eligendi culpa provident repellat veniam reiciendis nobis ducimus facilis veritatis cumque voluptatem. Praesentium, laborum quod at cum obcaecati voluptatum voluptatibus! Deserunt?</p>
            <h4 class="text-white">Dominic Allen</h4>
            <span class="text-white">Designer</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /testimonial -->